/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ==== COLORS ======================================== */
/* ==== Animations ======================================== */
/* ==== Spinner Sprite ======================================== */
/* line 138, spinner/*.png */
.spinner-sprite, .UIViewHolder .UISpinner:before, .UIViewHolder .UISpinner.first:before, .UIViewHolder .UISpinner.second:before, .UIViewHolder .UISpinner.third:before, .UIViewHolder .UISpinner.fourth:before, .UIViewHolder .UISpinner.fifth:before, .UIViewHolder .UISpinner.sixth:before, .UIViewHolder .UISpinner.seventh:before, .UIViewHolder .UISpinner.eigth:before, .UIViewHolder .UISpinner.ninth:before, .UIViewHolder .UISpinner.tenth:before, .UIViewHolder .UISpinner.eleventh:before, .UIViewHolder .UISpinner.twelfth:before {
  background: url('../img/spinner-sc7e3137482.png') no-repeat;
}

/* line 1, ../../../src/compass/modules/_clearfix.scss */
.clear:before, .clear:after {
  content: ' ';
  display: table;
}

/* line 5, ../../../src/compass/modules/_clearfix.scss */
.clear {
  *zoom: 1;
}
/* line 10, ../../../src/compass/modules/_clearfix.scss */
.clear:after {
  clear: both;
}

/* line 1, ../../../src/compass/modules/_defaults.scss */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* Prevent the callout on tap-hold and text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Prevent text resize on orientation change*/
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

/* line 20, ../../../src/compass/modules/_defaults.scss */
html {
  height: 100%;
  overflow: hidden;
}

/* line 24, ../../../src/compass/modules/_defaults.scss */
body {
  font: 17px/21px -apple-system-font, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black;
  background: #fff;
  height: 100%;
  overflow: hidden;
  background: white;
}

/* line 33, ../../../src/compass/modules/_defaults.scss */
.UIPreventActions {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

/* line 42, ../../../src/compass/modules/_defaults.scss */
p {
  margin-bottom: 15px;
}

/* line 1, ../../../src/compass/modules/_headings.scss */
.UILabelHeadline {
  font: 16px/21px -apple-system, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}

/* line 5, ../../../src/compass/modules/_headings.scss */
.UILabelSubHeadline {
  font: 14px/21px -apple-system, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}

/* line 10, ../../../src/compass/modules/_headings.scss */
h2 {
  font: 16px/21px -apple-system, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}

/* line 14, ../../../src/compass/modules/_headings.scss */
h3 {
  font: 14px/21px -apple-system, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}

/* line 2, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner {
  position: fixed;
  top: 95px;
  left: 50%;
  z-index: 0;
  opacity: 1;
}
/* line 8, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.UISpinnerClosing {
  -webkit-transform: scale(0.2) rotate(-90deg);
  -webkit-transition: -webkit-transform 300ms;
}
/* line 12, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.UISpinnerOpening {
  -webkit-transform: rotate(180deg);
  opacity: 0;
  -webkit-transition: -webkit-transform 1s ease, opacity 3000ms ease-out;
}
/* line 17, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner:before {
  content: "";
  position: absolute;
  left: -25px;
  top: -25px;
  width: 50px;
  height: 51px;
  background-size: auto 100%;
  opacity: 1;
  background-position: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 50% 50%;
}
/* line 31, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.none:before {
  content: "";
  background-image: none;
}
/* line 36, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.first:before {
  content: "";
  background-position: -50px 0;
}
/* line 40, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.second:before {
  content: "";
  background-position: -100px 0;
}
/* line 44, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.third:before {
  content: "";
  background-position: -150px 0;
}
/* line 48, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.fourth:before {
  content: "";
  background-position: -200px 0;
}
/* line 52, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.fifth:before {
  content: "";
  background-position: -250px 0;
}
/* line 56, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.sixth:before {
  content: "";
  background-position: -300px 0;
}
/* line 60, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.seventh:before {
  content: "";
  background-position: -350px 0;
}
/* line 64, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.eigth:before {
  content: "";
  background-position: -400px 0;
}
/* line 68, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.ninth:before {
  content: "";
  background-position: -450px 0;
}
/* line 72, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.tenth:before {
  content: "";
  background-position: -500px 0;
}
/* line 76, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.eleventh:before {
  content: "";
  background-position: -550px 0;
}
/* line 80, ../../../src/compass/modules/_loader.scss */
.UIViewHolder .UISpinner.twelfth:before {
  content: "";
  background-position: -600px 0;
}

/* line 1, ../../../src/compass/partials/_header.scss */
.UINavigationBarBg {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  z-index: 0;
  background-color: #f7f7f7;
  border-bottom: 1px solid #c8c7cc;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 1, ../../../src/compass/partials/_header.scss */
  .UINavigationBarBg {
    border-top: none;
    border-bottom: none;
    background-image: linear-gradient(0deg, #c8c7cc, #c8c7cc 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
  }
}

/* line 14, ../../../src/compass/partials/_header.scss */
.UIViewHolder .UINavigationBar {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-user-select: none;
  z-index: 2;
  border-bottom: 1px solid #c8c7cc;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 14, ../../../src/compass/partials/_header.scss */
  .UIViewHolder .UINavigationBar {
    border-top: none;
    border-bottom: none;
    background-image: linear-gradient(0deg, #c8c7cc, #c8c7cc 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
  }
}
/* line 24, ../../../src/compass/partials/_header.scss */
.UIViewHolder .UINavigationBar .UINavigationTitle {
  color: black;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 100%;
  z-index: 1;
  font: 16px/85px -apple-system, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  height: 100%;
  text-overflow: ellipsis;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
}
/* line 40, ../../../src/compass/partials/_header.scss */
.UIViewHolder .UINavigationBar .UIPageNavigation {
  font-size: 20px;
  z-index: 2;
  position: absolute;
  top: 0;
  height: 100%;
  padding: 0 10px;
}
/* line 47, ../../../src/compass/partials/_header.scss */
.UIViewHolder .UINavigationBar .UIPageNavigation:before {
  height: 100%;
  line-height: 85px;
  color: #007aff;
}
/* line 53, ../../../src/compass/partials/_header.scss */
.UIViewHolder .UINavigationBar .UIPageNavigation:active:before {
  color: white;
}
/* line 57, ../../../src/compass/partials/_header.scss */
.UIViewHolder .UINavigationBar .UIPageNavigation.UIPageNavigationRight {
  right: 0;
}
/* line 60, ../../../src/compass/partials/_header.scss */
.UIViewHolder .UINavigationBar .UIPageNavigation.UIPageNavigationLeft {
  left: 0;
}
/* line 67, ../../../src/compass/partials/_header.scss */
.UIViewHolder.UIViewOpen .UINavigationBar .UINavigationTitle {
  -webkit-transform: translate3d(-1px, 0, 0);
  -webkit-opacity: 1;
}
/* line 71, ../../../src/compass/partials/_header.scss */
.UIViewHolder.UIViewOpen .UINavigationBar .UIPageNavigation {
  -webkit-opacity: 1;
}
/* line 79, ../../../src/compass/partials/_header.scss */
.UIViewHolder.UIClosedLeft .UINavigationBar .UINavigationTitle {
  -webkit-transform: translate3d(-25%, 0, 0);
  -webkit-opacity: 0;
}
/* line 83, ../../../src/compass/partials/_header.scss */
.UIViewHolder.UIClosedLeft .UINavigationBar .UIPageNavigation {
  -webkit-opacity: 0;
}
/* line 90, ../../../src/compass/partials/_header.scss */
.UIViewHolder.UIClosedRight .UINavigationBar .UINavigationTitle {
  -webkit-transform: translate3d(100%, 0, 0);
  -webkit-opacity: 0;
}
/* line 95, ../../../src/compass/partials/_header.scss */
.UIViewHolder.UIClosedRight .UINavigationBar .UIPageNavigation {
  -webkit-opacity: 0;
}
/* line 101, ../../../src/compass/partials/_header.scss */
.UIViewHolder.UITransition .UINavigationBar {
  -webkit-transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
/* line 103, ../../../src/compass/partials/_header.scss */
.UIViewHolder.UITransition .UINavigationBar .UINavigationTitle {
  -webkit-transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
/* line 106, ../../../src/compass/partials/_header.scss */
.UIViewHolder.UITransition .UINavigationBar .UIPageNavigation {
  -webkit-transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

/* line 2, ../../../src/compass/partials/_nav.scss */
.nav ul {
  list-style: none;
}

/* line 1, ../../../src/compass/partials/_main.scss */
.UIViewHolder {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
/* line 6, ../../../src/compass/partials/_main.scss */
.UIViewHolder.UIViewRefreshing {
  top: 65px;
}
/* line 9, ../../../src/compass/partials/_main.scss */
.UIViewHolder.UIViewEndRefresh {
  -webkit-transition: top 350ms;
  top: 0;
}
/* line 13, ../../../src/compass/partials/_main.scss */
.UIViewHolder .UIViewContainer {
  position: absolute;
  top: 65px;
  bottom: 0;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
/* line 21, ../../../src/compass/partials/_main.scss */
.UIViewHolder .UIViewContainer .UISimpleView {
  background-color: white;
  padding: 13px 14px;
  min-height: 101%;
}
/* line 27, ../../../src/compass/partials/_main.scss */
.UIViewHolder.UIViewOpen {
  z-index: 2;
}
/* line 28, ../../../src/compass/partials/_main.scss */
.UIViewHolder.UIViewOpen .UIViewContainer {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0px 15px 15px 1px rgba(0, 0, 0, 0.3);
}
/* line 34, ../../../src/compass/partials/_main.scss */
.UIViewHolder.UIClosedLeft {
  z-index: 1;
}
/* line 35, ../../../src/compass/partials/_main.scss */
.UIViewHolder.UIClosedLeft .UIViewContainer {
  -webkit-transform: translate3d(-33%, 0, 0);
}
/* line 44, ../../../src/compass/partials/_main.scss */
.UIViewHolder.UIClosedRight {
  z-index: 3;
}
/* line 45, ../../../src/compass/partials/_main.scss */
.UIViewHolder.UIClosedRight .UIViewContainer {
  -webkit-transform: translate3d(100%, 0, 0);
}
/* line 50, ../../../src/compass/partials/_main.scss */
.UIViewHolder.UITransition {
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  width: -webkit-calc(100% + 2px);
}
/* line 54, ../../../src/compass/partials/_main.scss */
.UIViewHolder.UITransition .UIViewContainer {
  -webkit-transition-duration: 400ms;
  -webkit-transition-timing-function: ease;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
/* line 58, ../../../src/compass/partials/_main.scss */
.UIViewHolder .UITransitionStopper {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 1, ../../../src/compass/modules/_buttons.scss */
input[type=checkbox], input[type=radio] {
  display: inline-block;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0px 0px 0px 1px #e6e6e6;
  border-radius: 15px;
  background-color: #fff;
  padding: 1px;
  display: inline-block;
  width: 52px;
  height: 31px;
  position: relative;
  margin: 0px;
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
  /* Adjust size here */
}

/* line 18, ../../../src/compass/modules/_buttons.scss */
input[type=checkbox]:checked, input[type=radio]:checked {
  -webkit-box-shadow: inset 0px 0px 0px 20px #53d76a;
}

/* line 21, ../../../src/compass/modules/_buttons.scss */
input[type=checkbox]:after, input[type=radio]:after {
  content: '';
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 15px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

/* line 32, ../../../src/compass/modules/_buttons.scss */
input[type=checkbox]:active:after, input[type=radio]:active:after {
  width: 36px;
}

/* line 35, ../../../src/compass/modules/_buttons.scss */
input[type="checkbox"]:checked:after, input[type="radio"]:checked:after {
  -webkit-transform: translate3d(22px, 0, 0) scale3d(1, 1, 1);
}

/* line 38, ../../../src/compass/modules/_buttons.scss */
input[type="checkbox"]:checked:active:after, input[type="radio"]:checked:active:after {
  -webkit-transform: translate3d(15px, 0, 0) scale3d(1, 1, 1);
}

/* line 42, ../../../src/compass/modules/_buttons.scss */
input[type="range"] {
  outline: none;
  -webkit-appearance: none;
  background: #b8b7b8;
  width: 100%;
  height: 4px;
  -webkit-border-radius: 4px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.2, #007aff), color-stop(0.2, #b8b7b8));
  -webkit-transform: scaleY(0.5);
  /* Adjust size here */
}

/* line 60, ../../../src/compass/modules/_buttons.scss */
input[type="range"]::-webkit-slider-thumb {
  outline: none;
  border: none;
  -webkit-appearance: none;
  width: 29px;
  height: 58px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  -webkit-transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
}

/* line 73, ../../../src/compass/modules/_buttons.scss */
input[type="date"] {
  display: inline-block;
  outline: none;
  border: none;
  -webkit-appearance: none;
  width: auto;
  height: auto;
  background-color: none;
  font: 17px/21px -apple-system-font, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 84, ../../../src/compass/modules/_buttons.scss */
.UIButton {
  font-weight: bold;
  color: #007aff;
}
/* line 87, ../../../src/compass/modules/_buttons.scss */
.UIButton:active {
  color: white;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 11, 2013 */
@font-face {
  font-family: 'robotoregular';
  src: url("../roboto-regular-webfont.eot");
  src: url("../roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-regular-webfont.woff") format("woff"), url("../roboto-regular-webfont.ttf") format("truetype"), url("../roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("../roboto-thin-webfont.eot");
  src: url("../roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-thin-webfont.woff") format("woff"), url("../roboto-thin-webfont.ttf") format("truetype"), url("../roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin_italic';
  src: url("../roboto-thinitalic-webfont.eot");
  src: url("../roboto-thinitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-thinitalic-webfont.woff") format("woff"), url("../roboto-thinitalic-webfont.ttf") format("truetype"), url("../roboto-thinitalic-webfont.svg#robotothin_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight_italic';
  src: url("../roboto-lightitalic-webfont.eot");
  src: url("../roboto-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-lightitalic-webfont.woff") format("woff"), url("../roboto-lightitalic-webfont.ttf") format("truetype"), url("../roboto-lightitalic-webfont.svg#robotolight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("../roboto-medium-webfont.eot");
  src: url("../roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-medium-webfont.woff") format("woff"), url("../roboto-medium-webfont.ttf") format("truetype"), url("../roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium_italic';
  src: url("../roboto-mediumitalic-webfont.eot");
  src: url("../roboto-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-mediumitalic-webfont.woff") format("woff"), url("../roboto-mediumitalic-webfont.ttf") format("truetype"), url("../roboto-mediumitalic-webfont.svg#robotomedium_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold_italic';
  src: url("../roboto-bolditalic-webfont.eot");
  src: url("../roboto-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-bolditalic-webfont.woff") format("woff"), url("../roboto-bolditalic-webfont.ttf") format("truetype"), url("../roboto-bolditalic-webfont.svg#robotobold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url("../roboto-italic-webfont.eot");
  src: url("../roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-italic-webfont.woff") format("woff"), url("../roboto-italic-webfont.ttf") format("truetype"), url("../roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url("../roboto-light-webfont.eot");
  src: url("../roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-light-webfont.woff") format("woff"), url("../roboto-light-webfont.ttf") format("truetype"), url("../roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url("../roboto-black-webfont.eot");
  src: url("../roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-black-webfont.woff") format("woff"), url("../roboto-black-webfont.ttf") format("truetype"), url("../roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack_italic';
  src: url("../roboto-blackitalic-webfont.eot");
  src: url("../roboto-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-blackitalic-webfont.woff") format("woff"), url("../roboto-blackitalic-webfont.ttf") format("truetype"), url("../roboto-blackitalic-webfont.svg#robotoblack_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("../roboto-bold-webfont.eot");
  src: url("../roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../roboto-bold-webfont.woff") format("woff"), url("../roboto-bold-webfont.ttf") format("truetype"), url("../roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 193, ../../../src/compass/modules/_typography.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 207, ../../../src/compass/modules/_typography.scss */
[class^="icon-"]:after, [class*=" icon-"]:after {
  position: absolute;
  bottom: 50%;
  right: 0;
}

/* line 213, ../../../src/compass/modules/_typography.scss */
.icon-ccw:before {
  content: "\e60b";
}

/* line 216, ../../../src/compass/modules/_typography.scss */
.icon-arrow-left:before {
  content: "\e600";
}

/* line 219, ../../../src/compass/modules/_typography.scss */
.icon-list:before {
  content: "\e601";
}

/* line 222, ../../../src/compass/modules/_typography.scss */
.icon-facebook:before {
  content: "\e603";
}

/* line 225, ../../../src/compass/modules/_typography.scss */
.icon-twitter:before {
  content: "\e604";
}

/* line 228, ../../../src/compass/modules/_typography.scss */
.icon-googleplus:before {
  content: "\e605";
}

/* line 231, ../../../src/compass/modules/_typography.scss */
.icon-plus:before {
  content: "\e606";
}

/* line 234, ../../../src/compass/modules/_typography.scss */
.icon-heart:before {
  content: "\e607";
}

/* line 237, ../../../src/compass/modules/_typography.scss */
.icon-heart2:before {
  content: "\e608";
}

/* line 240, ../../../src/compass/modules/_typography.scss */
.icon-export:before {
  content: "\e609";
}

/* line 243, ../../../src/compass/modules/_typography.scss */
.icon-location:before {
  content: "\e60a";
}

/* line 246, ../../../src/compass/modules/_typography.scss */
.icon-search:before {
  content: "\e60c";
}

/* line 249, ../../../src/compass/modules/_typography.scss */
.icon-arrow-right:before {
  content: "\e602";
}

/* line 252, ../../../src/compass/modules/_typography.scss */
.icon-arrow-next:before {
  content: "\e60d";
}

/* line 255, ../../../src/compass/modules/_typography.scss */
.icon-arrow-prev:before {
  content: "\e60e";
}

/* line 1, ../../../src/compass/modules/_tables.scss */
.UITableView {
  position: relative;
  background-color: white;
  margin: 0;
  min-width: 100%;
  left: 0;
  right: 0;
  min-height: 101%;
  padding: 0;
  margin: 0;
}
/* line 12, ../../../src/compass/modules/_tables.scss */
.UITableView .UITableCell {
  margin: 0;
  padding: 15px 15px 15px 30px;
  background-color: white;
  border-bottom: 1px solid #c8c7cc;
  position: relative;
  /*&:last-child{
      background-image: none;
  }*/
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  /* line 12, ../../../src/compass/modules/_tables.scss */
  .UITableView .UITableCell {
    border-top: none;
    border-bottom: none;
    background-image: linear-gradient(0deg, #c8c7cc, #c8c7cc 50%, transparent 50%);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 30px bottom;
  }
}
/* line 18, ../../../src/compass/modules/_tables.scss */
.UITableView .UITableCell.selected {
  background-color: #d9d9d9;
}
/* line 26, ../../../src/compass/modules/_tables.scss */
.UITableView.hasArrows .UITableCell {
  padding-right: 30px;
}
/* line 28, ../../../src/compass/modules/_tables.scss */
.UITableView.hasArrows .UITableCell:after {
  content: "\e60d";
  font-size: 13px;
  font-weight: bold;
  font-family: 'icons';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  color: #c7c7cc;
  padding: 15px;
  -webkit-box-sizing: border-box;
}

/* line 1, ../../../src/compass/modules/_misc.scss */
::selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

/* line 6, ../../../src/compass/modules/_misc.scss */
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

/* line 11, ../../../src/compass/modules/_misc.scss */
::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none;
}

@media print {
  /* line 2, ../../../src/compass/modules/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 9, ../../../src/compass/modules/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 12, ../../../src/compass/modules/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 15, ../../../src/compass/modules/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 20, ../../../src/compass/modules/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 24, ../../../src/compass/modules/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 28, ../../../src/compass/modules/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 32, ../../../src/compass/modules/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 35, ../../../src/compass/modules/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 43, ../../../src/compass/modules/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 48, ../../../src/compass/modules/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==== Add all your IOS specific styles here  ======================================== */
/* ==== Add all your ANDROID specific styles heres  ======================================== */
/* line 2, ../../../src/compass/modules/_android-quircks.scss */
html.device-android {
  height: auto;
  min-height: 100%;
  overflow: visible;
}
/* line 6, ../../../src/compass/modules/_android-quircks.scss */
html.device-android .UIViewHolder {
  position: absolute;
  height: auto;
  min-height: 100%;
  /* Header */
  /* Main view */
}
/* line 12, ../../../src/compass/modules/_android-quircks.scss */
html.device-android .UIViewHolder .UINavigationBar {
  background-color: #f7f7f7;
}
/* line 16, ../../../src/compass/modules/_android-quircks.scss */
html.device-android .UIViewHolder .UIViewContainer {
  position: absolute;
  top: 65px;
  bottom: 0;
  width: 100%;
  overflow: visible;
  /* Simple View */
  /* Table View */
}
/* line 24, ../../../src/compass/modules/_android-quircks.scss */
html.device-android .UIViewHolder .UIViewContainer .UISimpleView {
  min-height: 100%;
}
/* line 29, ../../../src/compass/modules/_android-quircks.scss */
html.device-android .UIViewHolder .UIViewContainer .UITableView {
  position: relative;
  min-height: 200%;
  width: 200%;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
}
/* line 35, ../../../src/compass/modules/_android-quircks.scss */
html.device-android .UIViewHolder .UIViewContainer .UITableView .UITableCell {
  margin: 0 !important;
  padding: 30px 30px 30px 60px;
  font-size: 34px;
  line-height: 42px;
  border-bottom: 1px solid #c8c7cc;
}
/* line 44, ../../../src/compass/modules/_android-quircks.scss */
html.device-android .UIViewHolder .UIViewContainer.hasArrows .UITableCell {
  padding-right: 60px;
}
/* line 46, ../../../src/compass/modules/_android-quircks.scss */
html.device-android .UIViewHolder .UIViewContainer.hasArrows .UITableCell:after {
  content: "\e60d";
  font-size: 26px;
  font-weight: bold;
  font-family: 'icons';
  position: absolute;
  right: 0;
  top: 12px;
  height: 100%;
  color: #c7c7cc;
  padding: 30px;
  -webkit-box-sizing: border-box;
}
